@import 'tailwindcss';

* {
    font-family: 'Oxanium', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    @apply w-full h-12 rounded-3xl text-amber-50 text-lg leading-[100%] cursor-pointer
}